.section-1 {
  height: 91vh;
  width: 100%;
  background-color: white;
}

.section-2 {
  height: 50vh;
  width: 100%;
  background-color: #FFA15C;
}

.marging-0 {
  margin-top: 70vh;
}

.marging-1 {
  margin-top: 35vh;
}

.marging-12 {
  margin-top: 25vh;
}

.marging-2 {
  margin-top: 12vh;
}

.marging-21 {
  margin-top: 5vh;
}

.marging-22 {
  margin-top: 20vh;
}

.marging-3 {
  margin-top: 2vh;
}

