.section-1 {
  height: 91vh;
  width: 100%;
  background-color: white;
}

.section-2 {
  height: 50%;
  width: 100%;
  background-color: #fcf7f4;
}

.marging-0 {
  margin-top: 70vh;
}

.marging-1 {
  margin-top: 35vh;
}

.marging-12 {
  margin-top: 25vh;
}

.marging-2 {
  margin-top: 12vh;
}

.marging-2222 {
  margin-top: 12vh;
}

.marging-21 {
  margin-top: 5vh;
}

.marging-22 {
  margin-top: 20vh;
}

.marging-3 {
  margin-top: 2vh;
}

.margingb-2 {
  margin-bottom: 12vh;
}

.margingb-25 {
  margin-bottom: 27vh;
}

.margingb-22 {
  margin-bottom: 20vh;
}

.margingl-2 {
  margin-left: 8vh;
}

.margingl-22 {
  margin-left: 16vh;
}

@media (max-width: 750px) {
  .section-2 {
    background-image: none;
    background-color: #FFA15C;
    height: auto;
  }

  .section-1 {
    height: auto;
  }

  .marging-1 {
    margin-top: 10%;
  }
}
@media (max-width: 1250px) {
  .section-2 {
    background-image: none;
    background-color: #FFA15C;
    height: auto;
  }

  .section-1 {
    height: auto;
  }

  .marging-1 {
    margin-top: 10%;
  }
}