@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

/* Estilo de letras  */
.letrasPequenas {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #333333;
  padding: 20px;
}

.letrasPequenas1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.01em;
  color: #333333;
  margin-top: 7vh;
}

hr {
  text-align: center;
  color: #FFA15C;
  background-color: #FFA15C;
}

#stylo2 {
  margin-top: 7vh;
  margin-left: 16vh;
}

#stylo22 {
  margin-left: 8vh;
}

#stylo2221 {
  margin-left: 6vh;
}

#stylo221 {
  margin-top: 7vh;
  margin-left: 8vh;
}

.letrasGrandes {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: 0.01em;
  color: #333333;
}

.letrasGrandes211 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: 0.01em;
  color: #333333;
}

.letrasGrandes2111 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.01em;
  color: white;
}

.letrasGrandes2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: 0.01em;
  color: #333333;
}

.letrasGrandes21 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: 0.01em;
  color: #333333;
}

.btn-success {
  background-color: #FFA15C;
  border-color: #FFA15C;
}

#sloganIzquierda {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.01em;
  color: #333333;
  padding: 0%;
}

.styloSlogan {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 5em;
  padding: 0%;
}

.letrasPequenasCentradas {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  font-size: 3vw;
  letter-spacing: 0.01em;
  color: #333333;
  text-align: center;
}

/* Estilos del nav */
.marging {
  margin-top: 35vh;
}

/*  Cajas del index con informacion  */
.cajas {
  height: 200px;
  width: 200px;
  background-color: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.cajas:hover {
  transform: scale(1.5);
}

.letraGrandeCajas {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: 0.01em;
  color: #333333;
}

.letrasPequenasCajas {
  text-overflow: hidden;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #333333;
}

.letrasPequenasCajas2 {
  text-overflow: hidden;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #333333;
}

/* Background de secciones  */
.backgroundImages {
  background-image: url(../assests/evening-g2ed6e170c_1920.jpg);
  width: 100%;
  background-repeat: no-repeat;
  height: 91vh;
  background-color: #323232;
  background-blend-mode: soft-light;
}

.backgroundImages2 {
  background-image: url(../assests/bosque-con-niebla-al-amanecer_1920x1080_xtrafondos.com.jpg);
  background-repeat: no-repeat;
  height: 91vh;
  background-color: #323232;
  background-blend-mode: soft-light;
}

.backgroundImages3 {
  background-image: url(../assests/wp3933598-capadocia-wallpapers.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  background-color: #323232;
  background-blend-mode: soft-light;
}

#margintop {
  margin-top: 180px;
}

.head {
  background-color: #FFA15C;
  border-radius: 5px;
  margin-top: -4.5vh;
  -webkit-box-shadow: 0px 26px 28px -15px rgba(255, 161, 92, 0.49);
  -moz-box-shadow: 0px 26px 28px -15px rgba(255, 161, 92, 0.49);
  box-shadow: 0px 26px 28px -15px rgba(255, 161, 92, 0.49);
}

.effect-1 {
  border: 0;
  outline: none;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #FFA15C;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.btn1 {
  background: #FFA15C;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 7vh;
}

.btn1:hover {
  -webkit-box-shadow: 0px 26px 28px -15px rgba(255, 161, 92, 0.49);
  -moz-box-shadow: 0px 26px 28px -15px rgba(255, 161, 92, 0.49);
  box-shadow: 0px 26px 28px -15px rgba(255, 161, 92, 0.49);
}

.letrasPequenasCentradas {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #333333;
  text-align: center;
}

.row {
  margin-left: 0vh;
  margin-right: 0vh;
}

.logoAlMedio {
  margin-top: 35vh;
}

.marging-2222 {
  margin-top: 12vh;
}

/* Media Querys para apariencias pequeñas */
@media screen and (max-width: 1326px) {
  .col-md-12 {
    font-size: 1vh;
  }

  #stylo2 {
    margin-top: 0vh;
    margin-left: 0vh;
  }

  #stylo221 {
    margin-top: 0vh;
    margin-left: 0vh;
  }

  #stylo22 {
    margin-top: 0vh;
    margin-left: 0vh;
  }

  #stylo2221 {
    margin-top: 0vh;
    margin-left: 0vh;
  }

  .letrasPequenasCajas2 {
    font-size: 3em;
    text-align: center;
  }

  .letrasPequenas1 {
    font-size: 3em;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .nav1 {
    text-align: center;
  }

  .col-sm-12 {
    text-align: center;
    margin-top: 3vh;
  }

  .styloSlogan {
    font-size: 3em;
  }

  #sloganIzquierda {
    font-size: 1.5em;
  }

  .letrasGrandes {
    font-size: 7em;
  }

  .letrasGrandes2 {
    font-size: 6em;
  }

  .letrapequenasCajas {
    font-size: 2em;
  }

  .logo {
    margin-bottom: 9vh;
  }

  .letrasPequenas1 {
    margin-top: 3vh;
    font-size: 3em;
  }

  .letrasGrandes21 {
    font-size: 7em;
  }

  .letrasGrandes211 {
    font-size: 4em;
  }

  .letrasPequenasCajas2 {
    font-size: 3em;
    text-align: center;
    line-height: 35px;
  }

  #marging4 {
    margin-top: 20vh;
  }

  .marging-2222 {
    margin-top: 2vh;
  }
}
@media screen and (max-width: 380px) {
  .letrasGrandes21 {
    font-size: 1.2em;
  }
}
.nav1 {
  list-style-type: none;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
}

.nav2 {
  display: inline;
  margin-right: auto;
  border: none;
  height: 100%;
}

.nav3 {
  color: black;
  padding: 2px;
  text-decoration: none;
  justify-content: center;
  height: 100%;
}

a:hover {
  color: #FFA15C;
  height: 100%;
  border: 0px;
  padding: 0px;
  text-decoration: none;
}

@media screen and (min-width: 540px) {
  .nav1 {
    text-align: center;
  }
}
.footer1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #3D3C3C;
}

.footer2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #333333;
  padding: 20px;
}

.colorLetras {
  color: white;
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
