.nav1 {
    list-style-type: none;
    text-align: center;
    font-family: Poppins;
font-size: 15px;
font-weight: bold;


  }
  
.nav2 {

    display: inline;
    margin-right: auto;
    border: none;
    height: 100%;
    
  }
  
 .nav3 {
    color: black;
    padding: 2px;
    text-decoration: none;
    justify-content: center;
    height: 100%;
    
    

  }
  
  a:hover {
    color: #D7C8B6;
    height: 100%;
    border: 0px;
    padding: 0px;
    text-decoration: none;
  }
  @media screen and (min-width: 540px) { 

    .nav1 {
        text-align: center
    }
  }