$colorPrimario:  #FFA15C;

$tamanoLetra: (

t0: 1em,
t1: 1.5em,
t2: 2em,
t3: 3em,
t4: 4em,
t5: 5em,
t6: 6em,


);

$t6: map-get($tamanoLetra , t6);
$t5: map-get($tamanoLetra , t5);
$t4: map-get($tamanoLetra , t4);
$t3: map-get($tamanoLetra , t3);
$t2: map-get($tamanoLetra , t2);
$t1: map-get($tamanoLetra , t1);
$t0: map-get($tamanoLetra , t1);


    

* {
    padding: 0;
    margin: 0;
  }


  
  /* Estilo de letras  */
  
  .letrasPequenas {
      font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #333333;
  padding: 20px;
      
  }

  .letrasPequenas1 {
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: $t1;
letter-spacing: 0.01em;
color: #333333;

    
}

hr {
    text-align: center;
    color: $colorPrimario;
    background-color: $colorPrimario;

}
  
  
  
  .letrasGrandes { font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: $t6;
      letter-spacing: 0.01em;
      color: #333333;
      }
  
  #sloganIzquierda { 
      font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: $t1;
  letter-spacing: 0.01em;
  color: #333333;
  padding: 0%;
  }
  
  
  .styloSlogan {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: $t5;
      padding: 0%;
          
          
   }
  
      
  
   .letrasPequenasCentradas {
      font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  font-size: 3vw;
  letter-spacing: 0.01em;
  color: #333333;
  text-align: center;
      
  }
  
  
  
  /* Estilos del nav */

  
  .marging 
  {
      margin-top: 35vh;
   }
  
  /*  Cajas del index con informacion  */
   .cajas{
      height: 200px;
      width: 200px;
      background-color: white;
      margin: 30px;
      border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  }
  
  .cajas:hover {
      transform: scale(1.5);
  }
  

  .letraGrandeCajas {
  
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 68px;
      letter-spacing: 0.01em;
      color: #333333;
          }
  
    .letrasPequenasCajas {
              font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: $t1;
          line-height: 25px;
          letter-spacing: 0.01em;
          color: #333333;

  
              
          }
  
  
  
  /* Background de secciones  */
  

  .backgroundImages{
    background-image: url(../assests/evening-g2ed6e170c_1920.jpg);
    width: 100%;

	background-repeat: no-repeat;
    height: 91vh;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
  }
   .backgroundImages2{
    background-image: url(../assests/bosque-con-niebla-al-amanecer_1920x1080_xtrafondos.com.jpg);
    
	background-repeat: no-repeat;
    height: 91vh;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
  }
  
  .backgroundImages3{
    background-image: url(../assests/wp3933598-capadocia-wallpapers.jpg);
    width: 100%;

	background-repeat: no-repeat;
    height: 91vh;
    background-color: rgb(190, 190, 190);
    background-blend-mode: soft-light;
  }
          #margintop {
              margin-top: 180px;
          }
  
          
  .letrasPequenasCentradas {
      font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #333333;
  text-align: center;
      
  }

  .row { 
      margin-left: 0vh;
      margin-right: 0vh;
  }
  

  .logoAlMedio  {
    margin-top: 35vh;
        }

  

  
  /* Media Querys para apariencias pequeñas */

  @media screen and (min-width: 540px) { 

    .nav1 {
        text-align: center
    }
  }

  
    @import "_nav.scss";
    @import "_footer.scss";
    @import "_form.scss"
